@using LibraryApp.Models
@using LibraryApp.Models.Enum
@model LibraryApp.Models.Book
@{
    ViewBag.Title = "SearchBookByNameHandler";
}

@helper ShowList(List<Book> books)
{
    <table>
        @for (int i = 0; i < books.Count; i++)
        {
            <tr>
                <td>
                    @(i + 1)
                </td>
                <td>
                    @books[i].BookId
                </td>
                <td>
                    @books[i].Title
                </td>
                <td>
                    @if (books[i].Keeper==Guid.Empty)
                    {
                        <label>Available</label>
                    }
                    @if (books[i].Keeper != Guid.Empty)
                    {
                        <label>Not Available</label>
                    }
                </td>
            </tr>
        }
    </table>
}

<h1>Search Book by Title</h1>
<h2>Step 2</h2>

@using (Html.BeginForm("BooksDetails", "Filter"))
{
    <fieldset>
        <legend>List of books with such name</legend>
        <div>
            <label>
                @ShowList(ViewBag.Books)
            </label>
        </div>
        <div>
            <label>Fill gaps with available Book's ID </label>
            <label>Book Id:</label>
            @Html.TextBox("currGuid")
        </div>

        <input type="submit" name="submitbutton" value="OK" />
    </fieldset>
}
